html {
  font-family: "Vollkorn", Georgia, serif;
}

li {
  font-family: Courier, monospace;
}
body {
  margin: 0%;
}

h1,
h2,
h3,
h4,
p,
a,
li,
ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: black;
  line-height: 1;
}

/* -------------------------------- */
#header {
  grid-area: header;
}

#side-nav {
  grid-area: side-nav;
}

#anuncio {
  grid-area: anuncio;
}

#conteudo {
  grid-area: conteudo;
}

footer {
  grid-area: footer;
}
.formatacao {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas:
    "header header header"
    "side-nav conteudo anuncio"
    "footer footer footer";
}

@media (max-width: 800px) {
  .formatacao {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: min-content 1fr 1fr min-content;
    grid-template-areas:
      "header header"
      "side-nav conteudo"
      "anuncio conteudo"
      "footer footer";
  }
}

@media (max-width: 600px) {
  .formatacao {
    align-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, min-content);
    grid-template-areas:
      "header"
      "side-nav"
      "conteudo"
      "anuncio "
      "footer";
  }
}
