#header {
  background: var(--roxo-grad-reto);
}
#header .max-width {
  max-width: 1200px;
  margin: 0 auto;
  padding: 21px 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
}

#header .logo {
  max-width: 160px;
  margin-top: 8px;
}

#header ul {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 16px;
  justify-content: end;
}

#header a {
  display: block;
  color: white;
  padding: 12px 8px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-family: "Vollkorn", Georgia, serif;
}

#header a:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

#header {
  grid-area: "header";
}
